@import "utils";
@import "fonts";
@import "typography";
@import "reset";

@import "./blocks/header.scss";
@import "./blocks/container.scss";
@import "./blocks/banner.scss";
@import "./blocks/advantages.scss";

body {
  background: #131212;
  color: $white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
}
