@mixin onBreakpoint375 {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin onBreakpoint768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onBreakpoint990 {
  @media (min-width: 990px) {
    @content;
  }
}

@mixin onBreakpoint1440 {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin onBreakpoint1920 {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin centered-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin svg-size($s) {
  width: $s;
  height: $s;
}
